@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-navy-dark;
  }
}

@layer utilities {
  .text-sm-scalable {
    font-size: clamp(16px, 3vw, 20px);
    font-weight: 600;
  }
  .text-md-scalable {
    font-size: clamp(26px, 5vw, 32px);
    font-weight: 600;
  }
  .text-lg-scalable {
    font-size: clamp(40px, 8vw, 80px);
    font-weight: 600;
  }

  .counter-reset {
    counter-reset: item 0;
  }

  .counter-increment {
    counter-increment: item 1;
  }

  .before-green-counter {
    @apply before:content-['0'_counter(item)_'.'] before:relative before:font-mono before:text-green;
  }

  .nav-shadow {
    box-shadow: 0 10px 30px -10px rgba(2, 12, 27, 0.7);
  }
}
